body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
header {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 1000px;
  background: url("../images/header/header-bg_color.png") no-repeat;
}
.header__container {
  width: 89.5%;
  height: 100%;
  margin: 0 auto;
  background: url("../images/header/header-model.png") no-repeat, url("../images/header/header-shape.png") no-repeat;
  background-position: 97%, 227% 108%;
}
.logo {
  width: 100%;
  height: 80px;
}
.logo img {
  margin-top: 30px;
}
.logo span {
  float: right;
  color: white;
  width: 20px;
  height: 15px;
  margin: 46px 7px 0 44px;
  font-size: 17px;
}
#cart {
  position: relative;
}
#notice {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 9px;
  /* padding: 3px; */
  text-align: center;
  top: -2px;
  right: -7px;
  color: black;
  background-color: white;
  font-weight: 700;
}
.header-title {
  position: absolute;
  box-sizing: border-box;
  width: 75.2%;
  height: 36%;
  z-index: 4;
  right: 5%;
  top: 34%;
}
.header-title p {
  margin: 0;
}
.header-title__first-line {
  font-size: 25px;
  letter-spacing: 12px;
  line-height: 32px;
  color: #696969;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  height: 18%;
}
.header-title__second-line {
  height: 62%;
  width: 100%;
  margin-bottom: 30px;
}
.header-title__second-line-left {
  width: 90%;
  height: 90%;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 100px;
  color: #333333;
  font-weight: 600;
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  float: left;
}
.header-title__second-line-right {
  width: 10%;
  height: 90%;
  float: right;
  margin-top: 15px;
  text-align: right;
}
.header-title__second-line-right ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
}
.header-title__second-line-right ul li {
  position: relative;
}
.header-title__second-line-right ul li a {
  font-size: 24px;
  letter-spacing: 2.4px;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
}
.line {
  position: absolute;
  right: -65%;
  top: 24px;
  width: 61.45%;
  height: 1px;
  background-color: #333333;
  opacity: 0;
}
.header-title__second-line-right ul li a:hover {
  font-weight: 700;
  cursor: pointer;
}
.header-title__second-line-right ul li a:hover + .line {
  opacity: 1;
}
.header-title__button {
  width: 100%;
  height: 12%;
}
.header-title__button {
  width: 195px;
  height: 48px;
  background-color: #333333;
  font-size: 16px;
  letter-spacing: 2.3px;
  line-height: 47px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  text-indent: 28px;
}
.header-title__button:hover {
  cursor: pointer;
}
.header-title__button a:hover {
  color: #fff;
}
.header__sidebar-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  display: none;
}
.header__sidebar-opacity {
  width: 60%;
  background-color: black;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  left: -60%;
}
.header__sidebar {
  width: 41%;
  height: 100%;
  background-color: lightcoral;
  border-radius: 8px 0 0 8px;
  position: absolute;
  right: -41%;
}
.header__sidebar-label {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-indent: 4px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
}
.fa-times {
  float: left;
  margin-left: 4px;
}
.fa-times:hover {
  cursor: pointer;
}
.fa-user {
  float: right;
  margin-right: 5px;
}
.header__sidebar-content ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
.header__sidebar-content ul li {
  height: 40px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  line-height: 40px;
  font-size: 14px;
  background-color: white;
  border-bottom: 1px solid lightcoral;
}
.header__sidebar-content ul li a {
  color: black;
}
.header__sidebar-content ul li:hover {
  font-size: 16px;
  background-color: lightcoral;
  border: 1px solid white;
  border-radius: 4px;
}
.header__sidebar-content ul li:hover a {
  text-decoration: none;
  color: white;
}
.header_menu {
  display: none;
}
.header_menu:hover {
  cursor: pointer;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  width: 100%;
  padding: 15px 0;
}
.contact__items {
  width: 20%;
  text-align: center;
  padding-top: 2px;
}
.contact__items > p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}
.contact__items > span {
  font-size: 16px;
  line-height: 28px;
  color: #ababab;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.banner {
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.banner__container {
  width: 89.5%;
  height: auto;
  margin: 0 auto;
}
.banner__title,
.banner__content {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.banner__content {
  margin-top: 30px;
}
.banner__title {
  box-sizing: border-box;
  height: 290px;
  padding: 105px 0;
  text-align: center;
}
.banner__title span {
  font-size: 33.5px;
  line-height: 48px;
  color: #333333;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}
.banner__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.banner__content-tl,
.banner__content-tr,
.banner__content-bl,
.banner__content-bc {
  max-width: 390px;
  width: 22.58%;
  height: 520px;
  margin-bottom: 48px;
  position: relative;
}
.banner__label {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 29px;
}
.banner__content-tc,
.banner__content-br {
  max-width: 835.41px;
  width: 48.5%;
  height: 520px;
  margin-bottom: 48px;
  position: relative;
}
.banner__content-tl {
  background: url("../images/banner/tl_ring.png") 51% 55% no-repeat, url("../images/banner/tl_g.png") 50% 118% no-repeat, url("../images/banner/gray_bg.png") no-repeat;
}
.banner__label-title {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 36px;
  color: #333333;
  font-weight: 400;
  font-family: "Fira Sans";
  text-align: center;
  margin: 0 -1px 12px 0;
}
.banner__label-price {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 36px;
  color: #d6ba8d;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  text-align: center;
}
.banner__content-tc {
  background: url("../images/banner/tc_girl.png") 43% 39% no-repeat;
}
.banner__content-tr {
  background: url("../images/banner/tr_line.png") 51% 50% no-repeat, url("../images/banner/tr_ring.png") 29% 88% no-repeat, url("../images/banner/gray_bg.png") no-repeat;
}
.banner__label-right {
  position: absolute;
  width: 80%;
  text-align: left;
  bottom: 57px;
  right: 30px;
  height: 140px;
}
.banner__label-right-title_1 {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Fira Sans";
  text-transform: uppercase;
  margin: 13px 0 30px 0;
}
.banner__label-right-title_2 {
  font-size: 72px;
  line-height: 47px;
  color: #d6ba8d;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  letter-spacing: 1.9px;
}
.banner__content-bl {
  background: url("../images/banner/bl_girl.png") -33% 9% no-repeat, url("../images/banner/bl_text.png") center no-repeat, url("../images/banner/bl_bg.png") no-repeat;
}
.banner__content-bc {
  background: url("../images/banner/bc_neck.png") 55% 39.5% no-repeat, url("../images/banner/bc_r.png") 65% 117% no-repeat, url("../images/banner/gray_bg.png") no-repeat;
}
.banner__content-br {
  background: url("../images/banner/br_p.png") 29% 92% no-repeat, url("../images/banner/br_ring.png") 81% 84% no-repeat, url("../images/banner/gray_bg.png") 43% 39% repeat;
}
.banner__label-br {
  position: absolute;
  width: 40%;
  top: 140px;
  left: 50px;
  text-align: left;
}
.banner__label-br-title {
  width: 296px;
  height: 130px;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  margin: 0;
}
.banner__label-br-price {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #696969;
  font-weight: 400;
  font-family: "Fira Sans";
}
.sale-box {
  position: absolute;
  max-width: 275px;
  max-height: 335px;
  width: 100%;
  height: 100%;
  top: 17%;
  right: 4.2%;
  border-top: 5px solid white;
  border-right: 5px solid white;
  background: url(../images/banner/sale-box.png) no-repeat;
}
#text_1 {
  width: 100%;
  height: 26px;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  margin-top: 39px;
  padding-left: 2.5px;
}
#text_2 {
  width: 100%;
  font-size: 100px;
  line-height: 24px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-top: 51px;
}
#text_3 {
  width: 100%;
  height: 26px;
  font-size: 24px;
  line-height: 24px;
  color: #696969;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-top: 64px;
}
#text_4 {
  width: 100%;
  height: 26px;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #696969;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  margin-top: 61px;
  padding-left: 1px;
}
.products {
  width: 1920px;
  width: 100%;
}
.products__container {
  max-width: 1170px;
  width: 100%;
  min-height: 1000px;
  margin: 0 auto;
}
.products__container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
  height: auto;
  padding: 87px 0 55px 0;
}
.products__container-title p {
  margin: 0;
  font-size: 56px;
  line-height: 28px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
}
.products__container-title span {
  font-size: 14px;
  letter-spacing: 2.3px;
  line-height: 61px;
  color: #333333;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  margin-right: 13px;
}
.products__container-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products__content-items {
  width: 23.5%;
  height: 358px;
  margin-bottom: 55px;
}
.products__content-items-image {
  position: relative;
  width: 100%;
  height: 90%;
}
.products__content-items-image:hover .carousel-control-prev,
.products__content-items-image:hover .carousel-control-next,
.products__content-items-image:hover .image-hover {
  display: block;
}
.carousel {
  width: 100%;
  height: 100%;
}
.carousel-item {
  width: 100%;
  height: 100%;
  text-align: center;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
.t-ring {
  margin-top: 84px;
}
.t-neck {
  object-position: -6px;
}
.t-ring-2 {
  object-position: -120px 11px;
}
.t-ring-3 {
  object-position: 0 62px;
}
.b-ring {
  margin-top: 92px;
}
.b-ring-2 {
  object-position: 5px 30px;
}
.b-neck {
  object-position: -39px -74px;
}
.eardrop {
  object-position: 10px 46px;
}
.image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: none;
}
.image-hover__shopping {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.image-hover__shopping {
  display: flex;
  height: 11%;
  bottom: 0;
  font-size: 14px;
  text-align: center;
}
.image-hover__shopping-add {
  width: 63.5%;
  height: 100%;
  background-color: #d6ba8d;
  color: white;
  font-weight: 600;
  line-height: 2.5em;
  margin-right: 0.5px;
}
.image-hover__shopping-action {
  display: flex;
  width: 50%;
  line-height: 2.2em;
}
.image-hover__action {
  box-sizing: border-box;
  width: 33.3%;
  height: 100%;
  padding: 4px 5px;
  color: white;
  background-color: #333333;
  margin: 0 0.5px;
}
.products__content-items-price {
  width: 100%;
  text-align: center;
}
.products__content-items-price p {
  padding: 10px 0 0 2px;
  line-height: 2em;
  font-size: 14px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}
.products__content-items-price span {
  font-size: 18px;
  letter-spacing: 1px;
  color: #d6ba8d;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
}
.blog {
  max-width: 1920px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #faf9f9;
  margin: 76px 0 165px 0;
}
.blog__title {
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 70px;
  position: relative;
}
.blog__content {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.blog__content-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog__content-items-boxs {
  width: 31.5%;
  height: 490px;
}
.blog__contents-images {
  height: 45%;
}
#blog-1 {
  background: url("../images/blog/blog_1.png") 50% 40% no-repeat;
  width: 100%;
  height: 100%;
}
#blog-2 {
  background: url("../images/blog/blog_2.png") 50% 60% no-repeat;
  width: 100%;
  height: 100%;
}
#blog-3 {
  background: url("../images/blog/blog_3.png") 10% 0% no-repeat;
  width: 100%;
  height: 100%;
}
.blog__content-slider {
  width: 100%;
  border: 1px solid black;
  display: none;
}
.blog__content .carousel-control-prev,
.blog__content .carousel-control-next {
  display: block;
}
.carousel-item {
  width: 100%;
}
.blog__contnts-labels {
  box-sizing: border-box;
  padding: 28px 28px 0 28px;
}
.blog__title span {
  font-size: 56px;
  line-height: 28px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  position: absolute;
  top: -11px;
  right: 34%;
  left: 34%;
}
.date {
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 24px;
  color: #cccccc;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  width: 100%;
  text-transform: uppercase;
}
.title {
  width: 100%;
  font-size: 22.5px;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Cormorant Garamond", serif;
  height: auto;
  margin-top: 20px;
  color: #333333;
}
.title:hover {
  text-decoration: none;
  cursor: pointer;
}
.interactive {
  width: 100%;
  margin-top: 60px;
}
.interactive span {
  font-size: 15px;
  line-height: 32px;
  color: #696969;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin-right: 25px;
}
.interactive i {
  margin: 5px;
}
.blog__content-button {
  margin-top: 38px;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
.brand {
  max-width: 1920px;
  width: 100%;
}
.brand__container {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.brand__items {
  text-align: center;
  width: 15%;
}
.brand__items img:hover {
  cursor: pointer;
}
#rolex {
  margin-right: 14px;
  opacity: 1;
}
#elle {
  margin-top: 10px;
  opacity: 0.3;
}
#pandora {
  margin-top: 25px;
}
footer {
  max-width: 1920px;
  width: 100%;
  height: 420px;
  background-color: #333333;
  margin-top: 62px;
  position: relative;
}
.footer__content {
  max-width: 1170px;
  width: 100%;
  box-sizing: border-box;
  padding: 55px 0 90px 0;
  height: 100%;
  margin: 0 auto;
}
.footer__content-top {
  width: 100%;
  height: 70%;
  border-bottom: 1px inset #333;
  display: flex;
  flex-wrap: wrap;
}
.footer__content-bottom {
  width: 100%;
  height: 25%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.footer__content-top-logo {
  width: 20%;
  height: 80%;
}
.footer__content-top-logo img {
  width: 77.5%;
  height: 70%;
  margin-top: 9px;
}
.footer__content-top-menu {
  width: 60%;
  height: 100%;
}
.footer__content-top-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.footer__content-top-menu ul li {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: whitesmoke;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  margin: 96px 18px 0 18px;
}
.footer__content-top-menu ul li:hover {
  color: #d6ba8d;
  cursor: pointer;
}
.footer__content-top-sub {
  width: 20%;
}
.footer__content-top-sub__content {
  float: right;
  width: 68%;
  height: 20.5%;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 6px 0px;
  margin-top: 88px;
}
.footer__content-top-sub__content:hover {
  cursor: pointer;
  border: 2px solid #d6ba8d;
}
.footer__content-top-sub__content:hover span {
  color: #d6ba8d;
}
.footer__content-top-sub__content:hover .fa-envelope {
  color: #d6ba8d;
}
.footer__content-top-sub__content span {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 24px;
  color: #ababab;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
}
.footer__content-top-sub__content i {
  margin-left: 7px;
}
.footer__content-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__content-bottom-address {
  width: 50%;
  color: #696969;
  font-size: 14px;
}
.footer__content-bottom-address p {
  line-height: 25px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin: 23px 0 8px 0;
}
.footer__content-bottom-social-media {
  width: 50%;
}
.footer__content-bottom-social-media ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.footer__content-bottom-social-media ul li {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
.footer__content-bottom-social-media ul li:hover {
  cursor: pointer;
  color: #333333;
  background-color: #d6ba8d;
}
.footer__sidebar-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  display: none;
}
.footer__sidebar {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #333333;
  position: absolute;
  right: 0;
}
.footer__sidebar-label {
  width: 100%;
  height: 140px;
  font-size: 20px;
  text-indent: 4px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  border-bottom: 2px solid #d6ba8d;
}
.footer__sidebar-logo {
  width: 100%;
  text-align: center;
}
.footer__sidebar-logo img {
  margin-top: 20px;
  width: 140px;
  display: block;
  margin: 0 auto;
}
.fa-times {
  float: left;
  margin-left: 4px;
}
.fa-times:hover {
  cursor: pointer;
}
.fa-user {
  float: right;
  margin-right: 5px;
}
.footer__sidebar-content ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
.footer__sidebar-content ul li {
  height: 40px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  line-height: 40px;
  font-size: 14px;
  color: white;
}
.footer__sidebar-content ul li:hover {
  font-size: 18px;
  border-radius: 4px;
  color: #d6ba8d;
  text-decoration: underline;
}
.footer_menu {
  position: absolute;
  right: 5%;
  top: 2%;
  font-size: 20px;
  width: 18px;
  height: 18px;
  color: #d6ba8d;
  padding: 8px;
  display: none;
}
.footer_menu:hover {
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  body {
    max-width: 1024px;
    width: 100%;
  }
  header {
    max-width: 1024px;
    width: 100%;
  }
  .header__container {
    width: 89.5%;
    margin: 0 auto;
    background: url("../images/header/header-model.png") no-repeat, url("../images/header/header-shape.png") no-repeat;
    background-position: 50%, 20% 108%;
  }
  .header-title {
    left: 5%;
    width: 85%;
  }
  .header-title__first-line {
    font-size: 20px;
    letter-spacing: 9px;
  }
  .header-title__second-line-left {
    font-size: 70px;
    letter-spacing: 25px;
    line-height: 90px;
  }
  .header-title__second-line-right ul li a {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 40px;
  }
  .header-title__button {
    width: 170px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 40px;
  }
  .contact {
    max-width: 1024px;
    width: 100%;
  }
  .contact__container {
    width: 89.5%;
  }
  .contact__items > p {
    font-size: 12px;
  }
  .contact__items > span {
    font-size: 10px;
  }
  .banner {
    max-width: 1024px;
    width: 100%;
  }
  .banner__content {
    justify-content: space-around;
  }
  .banner__title span {
    font-size: 30.5px;
  }
  .banner__content-tl,
  .banner__content-tr {
    order: 0;
    width: 50%;
  }
  .banner__content-tc {
    order: 1;
    width: 100%;
  }
  .banner__content-bl,
  .banner__content-bc {
    order: 2;
    width: 50%;
  }
  .banner__content-br {
    order: 3;
    width: 100%;
  }
  .products {
    max-width: 1024px;
    width: 100%;
  }
  .products__container {
    max-width: 800px;
    width: 100%;
  }
  .products__container-title p {
    font-size: 40px;
    text-indent: 20px;
  }
  .products__container-content {
    justify-content: end;
  }
  .products__content-items {
    width: 33.33%;
  }
  .blog {
    max-width: 1024px;
    width: 100%;
    margin-bottom: 100px;
  }
  .blog__title span {
    font-size: 5vw;
  }
  .blog__content-items {
    justify-content: end;
  }
  .blog__content-items-boxs {
    width: 50%;
  }
  .brand {
    max-width: 1024px;
    width: 100%;
  }
  .brand__container {
    justify-content: space-around;
  }
  .brand__items {
    width: 33.33%;
    margin-bottom: 30px;
  }
  .footer {
    max-width: 1024px;
    width: 100%;
    height: 700px;
  }
  .footer__content {
    height: auto;
    padding: 0;
  }
  .footer__content-top-logo,
  .footer__content-top-menu,
  .footer__content-top-sub {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__content-top-sub {
    margin-top: 20px;
  }
  .footer__content-top-logo img {
    width: auto;
    margin-top: 0;
  }
  .footer__content-top-menu ul {
    height: auto;
  }
  .footer__content-top-menu ul {
    justify-content: space-evenly;
  }
  .footer__content-top-menu ul li {
    margin: 0;
  }
  .footer__content-top-sub__content {
    margin: 0;
    width: 20%;
    height: 100%;
  }
  .footer__content-bottom-address {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__content-bottom-social-media {
    width: 100%;
  }
  .footer__content-bottom-social-media ul {
    padding: 0;
    justify-content: center;
  }
}
@media all and (max-width: 768px) {
  header {
    max-width: 768px;
    width: 100%;
    height: 700px;
  }
  .header__container {
    width: 89.5%;
    margin: 0 auto;
    background: url(../images/header/header-model.png) no-repeat, url(../images/header/header-shape.png) no-repeat;
    background-size: cover;
  }
  .header-title__first-line {
    font-size: 18px;
    letter-spacing: 9px;
  }
  .header-title__second-line-left {
    font-size: 55px;
    letter-spacing: 15px;
    line-height: 80px;
  }
  .header-title__second-line-right ul li a {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 40px;
  }
  .header-title__button {
    width: 170px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 40px;
  }
  .contact {
    width: 100%;
    max-width: 768px;
  }
  .banner {
    width: 100%;
    max-width: 768px;
  }
  .banner__title span {
    font-size: 25px;
  }
}
@media all and (max-width: 800px) {
  header {
    max-width: 800px;
    width: 100%;
  }
  .header__container {
    width: 89.5%;
    margin: 0 auto;
    background: url(../images/header/header-model.png) no-repeat, url(../images/header/header-shape.png) no-repeat;
    background-size: cover;
  }
  .contact {
    max-width: 800px;
    width: 100%;
  }
  .contact__items:first-child,
  .contact__items:last-child {
    display: none;
  }
  .contact__items {
    width: 33.33%;
  }
  .banner {
    width: 100%;
    max-width: 800px;
  }
  .banner__content {
    justify-content: space-between;
  }
  .banner__content-tl,
  .banner__content-tr {
    order: 0;
    width: 49%;
  }
  .banner__content-bl,
  .banner__content-bc {
    order: 2;
    width: 49%;
  }
  .banner__title span {
    font-size: 23px;
  }
  .products {
    max-width: 800px;
    width: 100%;
  }
  .products__container {
    max-width: 600px;
    width: 100%;
  }
  .products__content-items {
    width: 50%;
  }
  .blog {
    max-width: 800px;
    width: 100%;
  }
  .blog__content-items-boxs {
    width: 100%;
  }
  #blog-1,
  #blog-3 {
    background-size: cover;
  }
  #blog-2 {
    background: url(../images/blog/blog_2.png) 50% 30% no-repeat;
    background-size: cover;
  }
}
@media all and (max-width: 600px) {
  header {
    max-width: 600px;
    width: 100%;
  }
  .contact {
    max-width: 600px;
    width: 100%;
  }
  .contact__items:first-child,
  .contact__items:last-child {
    display: none;
  }
  .contact__items {
    width: 33.33%;
  }
  .banner {
    max-width: 600px;
    width: 100%;
  }
  .banner__content {
    justify-content: center;
  }
  .banner__title span {
    font-size: 18px;
  }
  .banner__content-tl,
  .banner__content-tc,
  .banner__content-tr,
  .banner__content-bl,
  .banner__content-bc,
  .banner__content-br {
    width: 100%;
  }
  .products {
    max-width: 600px;
    width: 100%;
  }
  .products__container {
    max-width: 480px;
    width: 100%;
  }
  .products__container-content {
    justify-content: center;
  }
  .products__content-items {
    width: 50%;
  }
  .blog {
    max-width: 600px;
    width: 100%;
  }
  .banner {
    max-width: 600px;
    width: 100%;
  }
  .brand__items {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer {
    max-width: 600px;
    width: 100%;
  }
  .footer__content-top-sub__content {
    width: 30%;
  }
}
@media all and (max-width: 480px) {
  header {
    max-width: 480px;
    width: 100%;
  }
  .logo img {
    margin-left: 5%;
  }
  .header-title {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
  }
  .header-title__first-line p {
    color: white;
  }
  .header-title__second-line {
    margin-bottom: 50px;
  }
  .header-title__second-line-left {
    font-size: 50px;
    letter-spacing: 15px;
    line-height: 75px;
    width: 100%;
    color: white;
  }
  .header-title__button {
    text-indent: 0;
    text-align: center;
    margin: 0 auto;
  }
  .header__container {
    width: 100%;
    background-position: 35%;
  }
  .header-title__second-line-right {
    display: none;
  }
  .header_menu {
    display: block;
  }
  #cart {
    display: none;
  }
  .contact {
    max-width: 480px;
    width: 100%;
  }
  .contact__items:first-child,
  .contact__items:last-child {
    display: none;
  }
  .banner {
    max-width: 480px;
    width: 100%;
  }
  .products {
    max-width: 480px;
    width: 100%;
  }
  .products__container {
    max-width: 320px;
    width: 100%;
  }
  .products__container-content {
    justify-content: center;
  }
  .products__content-items {
    width: 100%;
  }
  .blog {
    max-width: 480px;
    width: 100%;
  }
  .brand {
    max-width: 480px;
    width: 100%;
  }
  .brand__container {
    width: 100%;
    justify-content: center;
  }
  .brand__items {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer {
    max-width: 480px;
    width: 100%;
  }
  .footer__content-top-logo {
    margin-top: 30px;
  }
  .footer__content-top-logo img {
    width: 50%;
    height: auto;
  }
  .footer__content-top-menu {
    display: none;
  }
  .footer__content-top-sub {
    margin-top: 35px;
  }
  .footer_menu {
    display: block;
  }
}
