body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  width: 100%;
}
header {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 1000px;
  background: url("../images/header/header-model.png") no-repeat 87%, url("../images/header/header-shape.png") no-repeat 149% 100%, url("../images/header/header-bg_color.png") no-repeat;
  background-size: 48.5% 100%, auto, auto;
}
.logo {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 100px;
  z-index: 1;
}
.logo img {
  margin-top: 27px;
}
.logo span {
  float: right;
  color: white;
  width: 20px;
  height: 15px;
  margin: 45px 6px 0 44px;
}
#cart {
  position: relative;
}
#notice {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 9px;
  padding: 3px;
  text-align: center;
  top: -9px;
  right: -9px;
  color: black;
  background-color: white;
}
.header-shape {
  position: absolute;
  z-index: 1;
}
.header-model {
  position: absolute;
  z-index: 3;
  right: 115px;
  max-height: 100%;
  height: auto;
  width: 49.5%;
}
.header-title {
  position: absolute;
  box-sizing: border-box;
  width: 75.2%;
  height: 36%;
  z-index: 4;
  right: 100px;
  top: 340px;
}
.header-title p {
  margin: 0;
}
.header-title__first-line {
  font-size: 25px;
  letter-spacing: 12px;
  line-height: 32px;
  color: #696969;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  height: 18%;
}
.header-title__second-line {
  height: 62%;
  width: 100%;
  margin-bottom: 30px;
}
.header-title__second-line-left {
  width: 90%;
  height: 90%;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 100px;
  color: #333333;
  font-weight: 600;
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  float: left;
}
.header-title__second-line-right {
  width: 10%;
  height: 90%;
  float: right;
  margin-top: 15px;
}
.header-title__second-line-right p {
  font-size: 24px;
  letter-spacing: 2.4px;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
  text-align: right;
}
.header-title__button {
  width: 100%;
  height: 12%;
}
.header-title__button > div {
  width: 195px;
  height: 48px;
  background-color: #333333;
  font-size: 16px;
  letter-spacing: 2.3px;
  line-height: 47px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  text-indent: 28px;
}
.header__sidebar-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  display: none;
}
.header__sidebar-opacity {
  width: 60%;
  background-color: black;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  left: -60%;
}
.header__sidebar {
  width: 41%;
  height: 100%;
  background-color: lightcoral;
  border-radius: 8px 0 0 8px;
  position: absolute;
  right: -41%;
}
.header__sidebar-label {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-indent: 4px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
}
.fa-times {
  float: left;
  margin-left: 4px;
}
.fa-times:hover {
  cursor: pointer;
}
.fa-user {
  float: right;
  margin-right: 5px;
}
.header__sidebar-content ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
.header__sidebar-content ul li {
  height: 40px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  line-height: 40px;
  font-size: 16px;
  color: black;
  background-color: white;
  border-bottom: 1px solid lightcoral;
}
.header__sidebar-content ul li:hover {
  font-size: 20px;
  background-color: lightcoral;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}
.header_menu {
  display: none;
}
.header_menu:hover {
  cursor: pointer;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  width: 100%;
  padding: 15px 0;
}
.contact__items {
  width: 20%;
  text-align: center;
  padding-top: 2px;
}
.contact__items > p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}
.contact__items > span {
  font-size: 16px;
  line-height: 28px;
  color: #ababab;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.banner {
  max-width: 1920px;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  margin: 0 auto;
}
.banner__title,
.banner__content {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.banner__content {
  margin-top: 28px;
}
.banner__title {
  box-sizing: border-box;
  height: 290px;
  padding: 105px 0;
  text-align: center;
}
.banner__title span {
  font-size: 33.5px;
  line-height: 48px;
  color: #333333;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}
.banner__content-first-content,
.banner__content-second-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 520px;
  margin-bottom: 55px;
}
.banner-pictures {
  width: 100%;
  height: 100%;
}
.banner__content-first-content-left {
  width: 22.9%;
  height: 100%;
}
.banner__content-first-content-center {
  position: relative;
  width: 48.2%;
  height: 100%;
  background: url(../images/banner/girl.png) no-repeat 42.5% 37%;
  margin: auto;
}
.sale-box {
  position: absolute;
  max-width: 275px;
  max-height: 335px;
  width: 100%;
  height: 100%;
  top: 17.1%;
  right: 4%;
  border-top: 5px solid white;
  border-right: 5px solid white;
  background: url(../images/banner/sale-box.png) no-repeat;
}
#text_1 {
  width: 100%;
  height: 26px;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  margin-top: 39px;
  padding-left: 2.5px;
}
#text_2 {
  width: 100%;
  font-size: 100px;
  line-height: 24px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-top: 51px;
}
#text_3 {
  width: 100%;
  height: 26px;
  font-size: 24px;
  line-height: 24px;
  color: #696969;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-top: 64px;
}
#text_4 {
  width: 100%;
  height: 26px;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #696969;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  margin-top: 61px;
  padding-left: 1px;
}
.banner__content-first-content-right {
  width: 22.9%;
  height: 100%;
}
.banner__content-second-content-left,
.banner__content-second-content-center {
  box-sizing: border-box;
  width: 22.9%;
  height: 100%;
}
.banner__content-second-content-center {
  margin: auto;
}
.banner__content-second-content-right {
  width: 48.4%;
  box-sizing: border-box;
  height: 100%;
}
.container {
  max-width: 1200px;
  min-height: 1000px;
  height: auto;
  width: 100%;
  margin: 77px auto;
}
.container__title {
  width: 100%;
  height: auto;
  padding: 60px 15px 0 15px;
  box-sizing: border-box;
}
.container__title-feature {
  width: 80%;
}
.container__title-feature p {
  margin: 0;
  font-size: 56px;
  line-height: 28px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
}
.container__title-view {
  width: 20%;
  text-align: right;
}
.container__title-view span {
  font-size: 14px;
  letter-spacing: 2.3px;
  line-height: 61px;
  color: #333333;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  margin-right: 13px;
}
.container__content {
  width: 100%;
  height: auto;
  margin-top: 35px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.container__content-items {
  width: 25%;
  height: 386px;
  box-sizing: border-box;
  padding: 15px 15px;
  margin-bottom: 25px;
}
.container__content-items-image {
  width: 100%;
  height: 89%;
  position: relative;
  text-align: center;
}
.t-ring {
  background: url("../images/container/t-ring.png") no-repeat 50% 97%;
}
.t-neck {
  background: url("../images/container/t-neck.png") no-repeat 43% 0;
}
.t-ring-2 {
  background: url("../images/container/t-ring-2.png") no-repeat 49%;
}
.t-ring-3 {
  background: url("../images/container/t-ring-3.png") no-repeat 50% 145%;
}
.b-ring {
  background: url("../images/container/b-ring.png") no-repeat 48% 62%;
}
.b-ring-2 {
  background: url("../images/container/b-ring-2.png") no-repeat 54% 67%;
}
.b-neck {
  background: url("../images/container/b-neck.png") no-repeat 100% 90%;
}
.b-eardrop {
  background: url("../images/container/eardrop.png") no-repeat 67% 54%;
}
.image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: none;
}
.container__content-items-image:hover .image-hover {
  display: block;
}
.image-hover__slide,
.image-hover__shopping {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.image-hover__slide {
  height: 10%;
  padding: 7px 0;
  top: 41%;
}
.image-hover__shopping {
  display: flex;
  height: 11%;
  bottom: 0;
  font-size: 14px;
  text-align: center;
}
.image-hover__shopping-add {
  width: 49.9%;
  height: 100%;
  background-color: #d6ba8d;
  color: white;
  font-weight: 600;
  line-height: 2.5em;
  margin-right: 0.5px;
}
.image-hover__shopping-action {
  display: flex;
  width: 50%;
  line-height: 2.2em;
}
.image-hover__action {
  box-sizing: border-box;
  width: 33.3%;
  height: 100%;
  padding: 4px 5px;
  color: white;
  background-color: #333333;
  margin: 0 0.5px;
}
.fa-chevron-left {
  float: left;
}
.fa-chevron-right {
  float: right;
}
.container__content-items-price {
  width: 100%;
  height: 20%;
  text-align: center;
}
.container__content-items-price p {
  padding: 16px 0 0 2px;
  line-height: 2em;
  font-size: 14px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}
.container__content-items-price span {
  font-size: 18px;
  letter-spacing: 1px;
  color: #d6ba8d;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
}
.blog {
  max-width: 1920px;
  width: 100%;
  padding: 0 100px;
  height: 700px;
  box-sizing: border-box;
  background-color: #faf9f9;
  margin-bottom: 45px;
}
.blog__title {
  height: 50px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 70px;
  position: relative;
}
.blog__title span {
  font-size: 56px;
  line-height: 28px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  position: absolute;
  top: -11px;
  right: 34%;
  left: 34%;
}
.blog__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 490px;
  box-sizing: border-box;
}
.blog__content-items {
  box-sizing: border-box;
  width: 33.33%;
  padding: 0 15px;
}
.blog__content-items-image {
  height: 44.5%;
  width: 100%;
}
#blog-1 {
  background: url("../images/blog/blog_1.png") no-repeat 53% 44%;
  width: 100%;
  height: 100%;
}
#blog-2 {
  background: url("../images/blog/blog_2.png") no-repeat 50% 61%;
  width: 100%;
  height: 100%;
}
#blog-3 {
  background: url("../images/blog/blog_3.png") no-repeat;
  width: 100%;
  height: 100%;
}
.blog__content-items-label {
  height: 55.5%;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 35px;
}
.date {
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 24px;
  color: #cccccc;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.title {
  width: 298px;
  height: 100px;
  font-size: 22.5px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #333333;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Cormorant Garamond", serif;
}
.interactive span {
  font-size: 15px;
  line-height: 32px;
  color: #696969;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin-right: 26px;
}
.blog__content-button {
  margin-top: 35px;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
.brand {
  max-width: 1200px;
  width: 100%;
  height: 190px;
  box-sizing: border-box;
  margin: 0 auto;
}
.brand__items {
  width: 16.65%;
  height: 45%;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 91px;
}
.brand__items img {
  position: absolute;
  bottom: 10px;
}
#elle {
  bottom: 17px;
}
#rolex,
#diamond {
  bottom: 21px;
}
footer {
  max-width: 1920px;
  width: 100%;
  height: 420px;
  background-color: #333333;
  margin-top: 40px;
  position: relative;
}
.footer__content {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 55px 15px 90px 15px;
  height: 100%;
  margin: 0 auto;
}
.footer__content-top {
  width: 100%;
  height: 75%;
  border-bottom: 1px inset #333;
}
.footer__content-bottom {
  width: 100%;
  height: 25%;
  margin-top: 20px;
}
.footer__content-top-logo {
  width: 20%;
  height: 80%;
}
.footer__content-top-logo img {
  width: 77.5%;
  height: 70%;
  margin-top: 9px;
}
.footer__content-top-menu {
  width: 60%;
  height: 100%;
}
.footer__content-top-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.footer__content-top-menu ul :first-child {
  color: #d6ba8d;
}
.footer__content-top-menu ul li {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: whitesmoke;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  margin: 96px 18px 0 18px;
}
.footer__content-top-sub {
  width: 20%;
}
.footer__content-top-sub__content {
  float: right;
  width: 68%;
  height: 20.5%;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 6px 0px;
  margin-top: 88px;
}
.footer__content-top-sub__content span {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 24px;
  color: #ababab;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
}
.footer__content-top-sub__content i {
  margin-left: 7px;
}
.footer__content-bottom-address {
  width: 77%;
  color: #696969;
}
.footer__content-bottom-address p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin: 12px 0 8px 0;
}
.footer__content-bottom-social-media {
  width: 23%;
}
.footer__content-bottom-social-media ul {
  padding-left: 5px;
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.footer__content-bottom-social-media ul li {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  border: 1px solid white;
  margin-left: 9px;
  color: white;
}
.footer__sidebar-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  display: none;
}
.footer__sidebar {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #333333;
  position: absolute;
  right: 0;
}
.footer__sidebar-label {
  width: 100%;
  height: 140px;
  font-size: 20px;
  text-indent: 4px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  border-bottom: 2px solid #d6ba8d;
}
.footer__sidebar-logo {
  width: 100%;
  text-align: center;
}
.footer__sidebar-logo img {
  margin-top: 20px;
  width: 140px;
  display: block;
  margin: 0 auto;
}
.fa-times {
  float: left;
  margin-left: 4px;
}
.fa-times:hover {
  cursor: pointer;
}
.fa-user {
  float: right;
  margin-right: 5px;
}
.footer__sidebar-content ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
.footer__sidebar-content ul li {
  height: 40px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  line-height: 40px;
  font-size: 16px;
  color: white;
}
.footer__sidebar-content ul li:hover {
  font-size: 20px;
  border-bottom: 2px solid #d6ba8d;
  border-top: 2px solid #d6ba8d;
  border-radius: 4px;
  color: #d6ba8d;
}
.footer_menu {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 20px;
  width: 18px;
  height: 18px;
  color: #d6ba8d;
  padding: 8px;
  display: none;
}
.footer_menu:hover {
  cursor: pointer;
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .header-title__second-line-left {
    font-size: 75px;
    line-height: 75px;
  }
}
@media all and (max-width: 1024px) {
  body {
    max-width: 1024px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  header {
    max-width: 1024px;
    height: 500px;
    background: url("../images/header/header-model.png") no-repeat 87%, url("../images/header/header-shape.png") no-repeat 149% 100%, url("../images/header/header-bg_color.png") no-repeat;
    background-size: 48.5% 100%, 75% 95%, auto;
  }
  .logo {
    padding: 0 50px;
  }
  .header-title {
    top: 125px;
    height: 265px;
  }
  .header-title__second-line-left {
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 25px;
  }
  .header-title__second-line-right {
    width: 5%;
  }
  .header-title__second-line-right p {
    font-size: 18px;
    line-height: 30px;
    text-align: right;
  }
  .header-title__first-line {
    font-size: 14px;
  }
  .header-title__button div {
    width: 145px;
    height: 45px;
    font-size: 9px;
    line-height: 45px;
  }
  .contact__items p {
    font-size: 12px;
  }
  .contact__items span {
    font-size: 10px;
  }
  .banner__title {
    height: 200px;
    padding: 50px 0;
  }
  .banner__title span {
    font-size: 23px;
    line-height: 46px;
  }
  .banner {
    max-width: 1024px;
    padding: 0 50px;
  }
  .banner__content-first-content,
  .banner__content-second-content {
    height: 285px;
  }
  .banner__content-first-content-center {
    background: url(../images/banner/girl.png) no-repeat 42.5% 37%;
    margin: auto;
  }
  .sale-box {
    width: 180px;
    height: 78%;
    top: 10%;
    right: 3%;
  }
  #text_1 {
    font-size: 14px;
    margin-top: 5px;
  }
  #text_2 {
    font-size: 80px;
    margin-top: 20px;
  }
  #text_3 {
    font-size: 16px;
    margin-top: 55px;
  }
  #text_4 {
    font-size: 12px;
    margin-top: 35px;
  }
  .container {
    max-width: 700px;
    width: 100%;
    height: auto;
  }
  .container__title {
    padding: 50px 15px 0 15px;
  }
  .container__title p {
    font-size: 45px;
  }
  .container__title span {
    font-size: 12px;
    line-height: 40px;
  }
  .container__content-items {
    width: 33.33%;
  }
  .blog {
    max-width: 1024px;
    padding: 0 30px;
    min-height: 1240px;
    height: auto;
    margin-bottom: 90px;
  }
  .blog__title span {
    font-size: 45px;
    right: 34%;
    left: 34%;
  }
  .blog__content {
    max-width: 1024px;
    height: auto;
  }
  .blog__content-items {
    width: 50%;
    height: 500px;
    margin-bottom: 15px;
  }
  .title {
    width: 100%;
    font-size: 19px;
  }
  .brand {
    max-width: 1024px;
    width: 100%;
    min-height: 250px;
    height: auto;
  }
  .brand__items {
    width: 33.33%;
    margin-bottom: 30px;
  }
  footer {
    max-width: 1024px;
    width: 100%;
  }
  .footer__content {
    max-width: 700px;
    width: 100%;
  }
  .footer__content-top-logo {
    height: 45%;
  }
  .footer__content-top-logo img {
    margin-top: 12px;
  }
  .footer__content-top-menu ul li {
    font-size: 12px;
    margin: 60px 10px;
  }
  .footer__content-top-sub__content {
    margin-top: 45px;
    width: 85%;
    height: 18.5%;
  }
  .footer__content-top-sub__content span {
    font-size: 11px;
  }
  .footer__content-bottom-address p {
    font-size: 12px;
  }
  .footer__content-bottom-address span {
    font-size: 12px;
  }
  .footer__content-bottom-social-media ul li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 6px;
    margin-left: 3px;
    font-size: 13px;
  }
}
@media all and (max-width: 800px) {
  body {
    max-width: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  header {
    max-width: 800px;
    height: 500px;
    background: url("../images/header/header-model.png") no-repeat 87%, url("../images/header/header-shape.png") no-repeat 120% 100%, url("../images/header/header-bg_color.png") no-repeat;
    background-size: 55.5% 100%, 75% 95%, auto;
  }
  .logo {
    padding: 0 25px;
  }
  .header-title {
    top: 125px;
    height: 265px;
  }
  .header-title__first-line {
    font-size: 13px;
  }
  .header-title__second-line-left {
    font-size: 45px;
    letter-spacing: 16px;
  }
  .header-title__second-line-right {
    width: 5%;
    margin-top: 0;
  }
  .header-title__second-line-right p {
    font-size: 14px;
    line-height: 30px;
    text-align: right;
  }
  .header-title__button div {
    width: 140px;
    height: 40px;
    font-size: 7px;
    line-height: 40px;
  }
  .contact__items p {
    font-size: 8px;
  }
  .contact__items span {
    font-size: 10px;
  }
  .banner {
    max-width: 800px;
    padding: 0 25px;
  }
  .banner__title {
    height: 200px;
    padding: 50px 0;
  }
  .banner__title span {
    font-size: 20px;
    line-height: 40px;
  }
  .banner__content-first-content,
  .banner__content-second-content {
    height: 260px;
  }
  .banner__content-first-content-center {
    background: url(../images/banner/girl.png) no-repeat 42.5% 37%;
    margin: auto;
  }
  .sale-box {
    width: 165px;
    height: 78%;
    top: 10%;
    right: 3%;
  }
  #text_1 {
    font-size: 12px;
    margin-top: 15px;
  }
  #text_2 {
    font-size: 75px;
    margin-top: 20px;
  }
  #text_3 {
    font-size: 14px;
    margin-top: 55px;
  }
  #text_4 {
    font-size: 12px;
    margin-top: 35px;
  }
  .container {
    max-width: 620px;
    width: 100%;
    height: auto;
  }
  .container__title {
    padding: 50px 15px 0 15px;
  }
  .container__title p {
    font-size: 30px;
  }
  .container__title span {
    font-size: 10px;
    line-height: 40px;
  }
  .container__content-items {
    width: 50%;
    height: 370px;
  }
  .container__content-items image {
    height: 100%;
  }
  .blog {
    max-width: 800px;
    padding: 0 15px;
    min-height: 1240px;
    height: auto;
    margin-bottom: 90px;
  }
  .brand {
    max-width: 800px;
    width: 100%;
    min-height: 250px;
    height: auto;
    box-sizing: border-box;
    padding: 0px 60px;
  }
  .brand__items {
    width: 33.33%;
    margin-bottom: 30px;
  }
  footer {
    max-width: 800px;
    width: 100%;
  }
  .footer__content {
    max-width: 700px;
    width: 100%;
    padding: 55px 40px 90px 40px;
  }
  .footer__content-top-logo {
    height: 35%;
  }
  .footer__content-top-logo img {
    margin-top: 12px;
  }
  .footer__content-top-menu ul li {
    font-size: 12px;
    margin: 45px 4px;
  }
  .footer__content-top-sub__content {
    margin-top: 20px;
    width: 70%;
    height: 27.5%;
  }
  .footer__content-top-sub__content span {
    font-size: 9px;
  }
  .footer__content-bottom-address p {
    font-size: 12px;
  }
  .footer__content-bottom-address span {
    font-size: 12px;
  }
  .footer__content-bottom-social-media ul li {
    width: 19px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 4px;
    font-size: 8px;
  }
}
@media all and (max-width: 600px) {
  body {
    max-width: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo img {
    margin-top: 15px;
    width: 20%;
  }
  .logo span {
    margin: 24px 6px 0 25px;
  }
  header {
    max-width: 600px;
    height: 400px;
    background: url(../images/header/header-model.png) no-repeat 85% 100%, url(../images/header/header-shape.png) no-repeat 81% 20%, url(../images/header/header-bg_color.png) no-repeat;
    background-size: 92% 100%, 80% 75%, auto;
  }
  .logo {
    padding: 0 12.5px;
  }
  .header-title {
    width: 100%;
    top: 150px;
    text-align: center;
    height: 250px;
    position: unset;
    padding-top: 140px;
  }
  .header-title__first-line {
    font-size: 11px;
    width: 100%;
  }
  .header-title__second-line-left {
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 15px;
    margin-top: 25px;
    width: 100%;
  }
  .header-title__second-line-right {
    display: none;
  }
  .header-title__button {
    margin-top: 95px;
    font-size: 16px;
  }
  .header-title__button div {
    width: 120px;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
    text-indent: 10px;
    margin: 0 auto;
  }
  .contact__items:first-child,
  .contact__items:last-child {
    display: none;
  }
  .contact__items {
    width: 33.33%;
  }
  .contact__items p {
    font-size: 12px;
    line-height: 20px;
  }
  .contact__items span {
    font-size: 10px;
  }
  .header_menu {
    display: block;
  }
  .banner {
    max-width: 600px;
    padding: 0 25px;
  }
  .banner__title {
    height: 200px;
    padding: 50px 0;
  }
  .banner__title span {
    font-size: 18px;
    line-height: 40px;
  }
  .banner__content-first-content,
  .banner__content-second-content {
    height: 260px;
  }
  .banner__content-first-content-center {
    background: url(../images/banner/girl.png) no-repeat 42.5% 37%;
    margin: auto;
  }
  .sale-box {
    width: 165px;
    height: 78%;
    top: 10%;
    right: 3%;
  }
  #text_1 {
    font-size: 12px;
    margin-top: 15px;
  }
  #text_2 {
    font-size: 75px;
    margin-top: 20px;
  }
  #text_3 {
    font-size: 14px;
    margin-top: 55px;
  }
  #text_4 {
    font-size: 12px;
    margin-top: 35px;
  }
  .container {
    max-width: 480px;
    width: 100%;
    height: auto;
  }
  .container__title {
    padding: 50px 15px 0 15px;
  }
  .container__title-feature {
    width: 70%;
  }
  .container__title-view {
    width: 30%;
  }
  .container__title p {
    font-size: 35px;
  }
  .container__title span {
    font-size: 10px;
    line-height: 40px;
  }
  .container__content-items {
    width: 50%;
    height: 370px;
  }
  .container__content-items image {
    height: 100%;
  }
  .blog {
    max-width: 600px;
    min-height: 1240px;
    height: auto;
    margin-bottom: 90px;
  }
  .blog__title span {
    font-size: 36px;
  }
  .blog__content-items {
    width: 100%;
  }
  #blog-1,
  #blog-2,
  #blog-3 {
    background-size: cover;
  }
  .brand {
    max-width: 600px;
    width: 100%;
    min-height: 250px;
    height: auto;
    box-sizing: border-box;
    padding: 0px 60px;
  }
  .brand__items {
    width: 50%;
    margin-bottom: 30px;
  }
  footer {
    max-width: 600px;
    width: 100%;
  }
  .footer__content {
    max-width: 600px;
    width: 100%;
    padding: 55px 40px 55px 40px;
  }
  .footer__content-top {
    height: 55%;
  }
  .footer__content-top-logo {
    width: 100%;
    height: 70%;
  }
  .footer__content-top-logo img {
    width: 200px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .footer__content-top-menu {
    display: none;
  }
  .footer__content-top-sub {
    display: none;
  }
  .footer__content-bottom {
    margin-top: 0;
  }
  .footer__content-bottom-address,
  .footer__content-bottom-social-media {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__content-bottom-address p {
    font-size: 12px;
  }
  .footer__content-bottom-address span {
    font-size: 12px;
  }
  .footer__content-bottom-social-media ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  .footer__content-bottom-social-media ul li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 6px;
    margin-left: 4px;
    font-size: 10px;
  }
  .footer_menu {
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    max-width: 480px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo img {
    margin-top: 15px;
    width: 20%;
  }
  .logo span {
    margin: 24px 6px 0 25px;
  }
  header {
    max-width: 480px;
    height: 400px;
    background: url(../images/header/header-model.png) no-repeat 200% 100%, url(../images/header/header-shape.png) no-repeat 81% 20%, url(../images/header/header-bg_color.png) no-repeat;
    background-size: 95% 90%, 80% 75%, auto;
  }
  .logo {
    padding: 0 12.5px;
  }
  .header-title {
    width: 100%;
    top: 150px;
    text-align: center;
    height: 250px;
    position: unset;
    padding-top: 140px;
  }
  .header-title__first-line {
    font-size: 10px;
    width: 100%;
  }
  .header-title__second-line-left {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 15px;
    margin-top: 25px;
    width: 100%;
  }
  .header-title__second-line-right {
    display: none;
  }
  .header-title__button {
    margin-top: 90px;
  }
  .header-title__button div {
    width: 100px;
    height: 27px;
    font-size: 7px;
    line-height: 25px;
    text-indent: 2px;
    margin: 0 auto;
  }
  .contact__items:first-child,
  .contact__items:last-child {
    display: none;
  }
  .contact__items {
    width: 33.33%;
  }
  .contact__items p {
    font-size: 7px;
    line-height: 20px;
  }
  .contact__items span {
    font-size: 6px;
  }
  .header__sidebar-label {
    font-size: 16px;
  }
  .header__sidebar-content ul li {
    font-size: 14px;
  }
  .banner {
    max-width: 480px;
    padding: 0 12.5px;
    height: auto;
    margin-top: 30px;
  }
  .banner__title {
    height: 90px;
    padding: 0;
  }
  .banner__title span {
    font-size: 12px;
    line-height: 25px;
  }
  .banner__content {
    margin-top: 0;
  }
  .banner__content-first-content,
  .banner__content-second-content {
    height: auto;
  }
  .banner-pictures {
    width: 50%;
    height: 100%;
  }
  .banner__content-first-content-left,
  .banner__content-first-content-right,
  .banner__content-second-content-left,
  .banner__content-second-content-center,
  .banner__content-second-content-right {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .banner__content-first-content-center {
    width: 100%;
    background: url(../images/banner/girl.png) no-repeat 42.5% 37%;
    margin: 0 0 30px 0;
    height: 300px;
  }
  .sale-box {
    width: 145px;
    height: 60%;
    top: 15%;
    right: 3%;
  }
  #text_1 {
    font-size: 12px;
  }
  #text_2 {
    font-size: 50px;
    margin: 0 0 30px 0;
  }
  #text_3 {
    font-size: 12px;
    margin: 0;
  }
  #text_4 {
    font-size: 10px;
    margin: 25px 0 0 0;
  }
  .banner__content-second-content-right img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .container {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .container__title-feature {
    width: 60%;
  }
  .container__title-view {
    width: 40%;
    text-align: right;
  }
  .container__title p {
    font-size: 25px;
  }
  .container__title span {
    font-size: 10px;
    line-height: 40px;
    margin: 0;
  }
  .container__content-items {
    width: 100%;
    height: 300px;
    margin-bottom: 45px;
  }
  .blog {
    max-width: 480px;
    padding: 0;
    min-height: 1240px;
    height: auto;
    margin-bottom: 90px;
  }
  .blog__title {
    margin-bottom: 50px;
  }
  .blog__title span {
    font-size: 30px;
    right: 34%;
    left: 34%;
  }
  .blog__content {
    max-width: 480px;
    height: auto;
    width: 100%;
  }
  .blog__content-items {
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
  }
  #blog-1,
  #blog-2,
  #blog-3 {
    background-size: cover;
  }
  .date {
    font-size: 12px;
  }
  .title {
    width: 100%;
    font-size: 20px;
  }
  .interactive span {
    font-size: 10px;
  }
  .blog__content-button {
    font-size: 20px;
  }
  .brand {
    max-width: 480px;
    width: 100%;
    min-height: 250px;
    height: auto;
    box-sizing: border-box;
    padding: 0px 30px;
  }
  .brand__items {
    width: 100%;
    margin-bottom: 30px;
  }
  footer {
    max-width: 480px;
    width: 100%;
  }
  .footer__content {
    max-width: 480px;
    width: 100%;
    padding: 55px 40px 55px 40px;
  }
  .footer__content-top {
    height: 55%;
  }
  .footer__content-top-logo {
    width: 100%;
    height: 70%;
  }
  .footer__content-top-logo img {
    width: 200px;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .footer__content-top-menu {
    display: none;
  }
  .footer__content-top-sub {
    display: none;
  }
  .footer__content-bottom {
    margin-top: 0;
  }
  .footer__content-bottom-address,
  .footer__content-bottom-social-media {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__content-bottom-address p {
    font-size: 12px;
  }
  .footer__content-bottom-address span {
    font-size: 12px;
  }
  .footer__content-bottom-social-media ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  .footer__content-bottom-social-media ul li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 6px;
    margin-left: 4px;
    font-size: 10px;
  }
  .footer__sidebar-content ul li {
    font-size: 14px;
  }
}
