//Tablet horizontal
@media all and (max-width: 1024px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
    background-position: 15%, center;
    background-size: auto, cover;
  }

  .header__container {
    width: 100%;
    margin: 0 auto;
  }

  .header-title__button {
    width: 170px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 1.3px;
    line-height: 40px;
  }

  .contact {
    width: 100%;
  }

  .contact__container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .contact__items {
    p {
      font-size: 12px;
    }

    span {
      font-size: 10px;
    }
  }

  .banner {
    width: 100%;
  }

  .banner__content {
    justify-content: space-evenly;
  }

  .banner__title span {
    font-size: 30.5px;
  }

  .banner__content-tl,
  .banner__content-tr {
    order: 0;
    width: 50%;
  }

  .banner__label-right-title_2 {
    font-size: 7vw;
  }

  .banner__content-tc {
    order: 1;
    width: 100%;
  }

  .banner__content-bl,
  .banner__content-bc {
    order: 2;
    width: 50%;
  }

  .banner__content-br {
    order: 3;
    width: 100%;
  }

  .products {
    width: 100%;
    margin-bottom: 100px;
  }

  .products__container {
    max-width: 800px;
    width: 100%;
  }

  .products__content-items {
    width: calc(100% * 6 / 12);
  }

  .products__container-title {
    p {
      font-size: 40px;
      text-indent: 20px;
    }
  }

  .b-neck {
    object-position: 0px -75px;
  }

  .blog {
    width: 100%;
  }

  .blog__container {
    max-width: 800px;
    width: 100%;
  }

  .blog__title {
    span {
      font-size: 5vw;
    }
  }

  .blog__content {
    max-width: 800px;
    width: 100%;
  }

  .blog__content-items {
    justify-content: end;
  }

  .blog__content-items-boxs {
    width: calc(100% * 6 / 12);
  }

  .brand {
    width: 100%;
  }

  .brand__container {
    max-width: 800px;
  }

  .brand__items {
    width: calc(100% * 4 / 12);
  }

  footer {
    width: 100%;
    height: auto;
  }

  .footer__content {
    height: auto;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
  }

  .footer__content-top-logo,
  .footer__content-top-menu,
  .footer__content-top-sub {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__content-top-menu,
  .footer__content-top-sub {
    margin-top: 40px;
  }

  .footer__content-top-logo {
    img {
      width: auto;
      margin-top: 0;
    }
  }

  .footer__content-top-menu {
    ul {
      height: auto;
      justify-content: space-evenly;

      li {
        margin: 0;
      }
    }
  }

  .footer__content-top-sub__content {
    margin: 0;
    width: 20%;
    height: 100%;
  }

  .footer__content-bottom {
    margin-top: 40px;
  }

  .footer__content-bottom-address {
    width: 100%;
    text-align: center;
  }

  .footer__content-bottom-social-media {
    width: 100%;
    margin: 40px 0;
    ul {
      padding: 0;
      justify-content: center;
    }
  }
}

//Tablet vertical
// @media all and (max-width: 768px) {
//   header {
//     width: 100%;
//   }

//   .header-title__first-line {
//     font-size: 18px;
//     letter-spacing: 9px;
//   }

//   .contact {
//     width: 100%;
//   }

//   .contact__container {
//     max-width: 630px;
//     width: 100%;
//     margin: 0 auto;
//   }

//   .banner {
//     width: 100%;
//     max-width: 768px;
//   }

//   .banner__title span {
//     font-size: 25px;
//   }
// }
