@media all and (max-width: 480px) {
  header {
    max-width: 480px;
    width: 100%;
    background-position: center;
  }

  .logo img {
    margin-left: 5%;
  }

  .header-title {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
  }

  .header-title__second-line {
    margin-bottom: 50px;
  }

  .header-title__second-line-left {
    font-size: 40px;
    letter-spacing: 15px;
    line-height: 55px;
    width: 100%;
  }

  .header-title__button {
    text-indent: 0;
    text-align: center;
    margin: 0 auto;
  }

  .header__container {
    width: 100%;
    background-position: 35%;
  }

  .header-title__second-line-right {
    display: none;
  }

  .header_menu {
    display: block;
  }

  #cart {
    display: none;
  }

  .header__sidebar {
    width: 100%;
    border-radius: 0;
  }

  .contact {
    max-width: 480px;
    width: 100%;
  }

  .contact__items:first-child,
  .contact__items:last-child {
    display: none;
  }

  .banner {
    max-width: 480px;
    width: 100%;
  }

  .banner__content-br {
    background: url(http://127.0.0.1:5500/DE_3/images/banner/br_ring.png) 81%
        84% no-repeat,
      url(http://127.0.0.1:5500/DE_3/images/banner/gray_bg.png) 43% 39% repeat;
    background-size: 100%;
  }

  .banner__label-br {
    width: 100%;
    top: 35px;
    left: 10px;
  }

  .products {
    max-width: 480px;
    width: 100%;
  }

  .products__container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }

  .products__container-content {
    justify-content: center;
  }

  .products__container-title p {
    font-size: 30px;
  }

  .products__container-title span {
    font-size: 10px;
    margin: 0;
  }

  .products__content-items {
    width: 100%;
  }

  .b-neck {
    object-position: 0px -74px;
  }

  .t-ring-2 {
    object-position: -85px -20px;
  }

  .blog {
    max-width: 480px;
    width: 100%;
  }

  .blog__content {
    max-width: 320px;
    width: 100%;
  }

  .brand {
    max-width: 480px;
    width: 100%;
  }

  .brand__container {
    width: 100%;
    justify-content: center;
  }

  .brand__items {
    width: 100%;
    margin-bottom: 40px;
  }

  .footer {
    max-width: 480px;
    width: 100%;
  }

  .footer__content {
    padding: 0;
  }

  .footer__content-top-logo {
    margin-top: 20px;
  }

  .footer__content-top-logo img {
    width: 50%;
    height: auto;
  }

  .footer__content-top-menu {
    display: none;
  }

  .footer__content-top-sub {
    margin-top: 35px;
  }

  .footer_menu {
    display: block;
  }
}

@media all and (max-width: 320px) {
  header {
    max-width: 320px;
    width: 100%;
    height: 500px;
    background-size: 120%, auto, cover;
    background-position: 0% 100%, center, center;
  }

  .header-title__first-line {
    font-size: 14px;
  }

  .header-title__second-line-left {
    font-size: 35px;
    letter-spacing: 10px;
    line-height: 50px;
    width: 100%;
  }

  .header-title__button {
    font-size: 12px;
  }

  .contact {
    max-width: 320px;
    width: 100%;
  }

  .contact__items > p {
    font-size: 12px;
  }

  .contact__items > span {
    font-size: 8px;
  }

  .banner {
    max-width: 320px;
    width: 100%;
  }

  .banner__content {
    max-width: 320px;
    width: 100%;
  }

  .banner__content-bc {
    background-size: 100%, auto;
  }

  .banner__label-title,
  .banner__label-price {
    font-size: 18px;
  }

  .banner__label-right-title_1 {
    font-size: 10px;
  }

  .banner__label-right-title_2 {
    font-size: 14vw;
  }

  .banner__label-br-title {
    font-size: 40px;
  }

  .banner__label-br-price,
  .banner__label-br span {
    font-size: 12px;
  }

  .banner__title span {
    font-size: 16px;
  }

  .sale-box {
    width: 260px;
    top: 25%;
  }

  .banner__content-br {
    background: url(http://127.0.0.1:5500/DE_3/images/banner/br_ring.png) 81%
        84% no-repeat,
      url(http://127.0.0.1:5500/DE_3/images/banner/gray_bg.png) 43% 39% repeat;
    background-size: 100%;
  }

  .banner__label-br {
    width: 100%;
    top: 35px;
    left: 10px;
  }

  .products {
    max-width: 320px;
    width: 100%;
  }

  .products__container {
    max-width: 280px;
  }

  .products__container-title p {
    font-size: 25px;
  }

  .products__container-title span {
    font-size: 8px;
  }

  .blog {
    max-width: 320px;
    width: 100%;
  }

  .blog__title span {
    font-size: 30px;
  }

  .blog__content {
    max-width: 280px;
    width: 100%;
  }

  .date {
    font-size: 12px;
  }

  .title {
    font-size: 20px;
  }

  .interactive span {
    font-size: 10px;
  }

  .banner {
    max-width: 320px;
    width: 100%;
  }

  .banner__content {
    max-width: 280px;
    width: 100%;
  }

  .footer {
    max-width: 320px;
    width: 100%;
  }

  .footer__content-bottom-address {
    font-size: 12px;
  }
}
