@media all and (max-width: 800px) {
  header {
    max-width: 800px;
    width: 100%;
  }

  .header__container {
    width: 89.5%;
    margin: 0 auto;
    background: url(../images/header/header-model.png) no-repeat,
      url(../images/header/header-shape.png) no-repeat;
    // background-size: 100% auto;
    background-size: cover;
  }

  .contact {
    max-width: 800px;
    width: 100%;
  }

  .contact__items:first-child,
  .contact__items:last-child {
    display: none;
  }

  .contact__items {
    width: 33.33%;
  }

  .banner {
    width: 100%;
    max-width: 800px;
  }

  .banner__content {
    justify-content: space-between;
  }

  .banner__content-tl,
  .banner__content-tr {
    order: 0;
    width: 49%;
  }

  .banner__content-bl,
  .banner__content-bc {
    order: 2;
    width: 49%;
  }

  .banner__title span {
    font-size: 23px;
  }

  .products {
    max-width: 800px;
    width: 100%;
  }

  .products__container {
    max-width: 600px;
    width: 100%;
  }

  .products__content-items {
    width: 50%;
  }

  .blog {
    max-width: 800px;
    width: 100%;
  }

  .blog__content-items-boxs {
    width: 100%;
  }

  #blog-1,
  #blog-3 {
    background-size: cover;
  }

  #blog-2 {
    background: url(../images/blog/blog_2.png) 50% 30% no-repeat;
    background-size: cover;
  }
}

//Tablet vertcal
@media all and (max-width: 600px) {
  header {
    max-width: 600px;
    width: 100%;
  }

  .contact {
    max-width: 600px;
    width: 100%;
  }

  .contact__items:first-child,
  .contact__items:last-child {
    display: none;
  }

  .contact__items {
    width: 33.33%;
  }

  .banner {
    max-width: 600px;
    width: 100%;
  }

  .banner__content {
    justify-content: center;
  }

  .banner__title span {
    font-size: 18px;
  }

  .banner__content-tl,
  .banner__content-tc,
  .banner__content-tr,
  .banner__content-bl,
  .banner__content-bc,
  .banner__content-br {
    width: 100%;
  }

  .products {
    max-width: 600px;
    width: 100%;
  }

  .products__container {
    max-width: 480px;
    width: 100%;
  }

  .products__container-content {
    justify-content: center;
  }

  .products__content-items {
    width: 50%;
  }

  .blog {
    max-width: 600px;
    width: 100%;
  }

  .banner {
    max-width: 600px;
    width: 100%;
  }

  .brand__items {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer {
    max-width: 600px;
    width: 100%;
  }

  .footer__content-top-sub__content {
    width: 30%;
  }
}
