.blog {
  max-width: 1920px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #faf9f9;
  margin: 76px 0 165px 0;
}

.blog__title {
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 75px;
  position: relative;
}

.blog__content {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.blog__content-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog__content-items-boxs {
  width: 31.9%;
  height: 490px;
}

.blog__contents-images {
  height: 45%;
}

#blog-1 {
  background: url("../images/blog/blog_1.png") 50% 40% no-repeat;
  width: 100%;
  height: 100%;
}

#blog-2 {
  background: url("../images/blog/blog_2.png") 50% 60% no-repeat;
  width: 100%;
  height: 100%;
}

#blog-3 {
  background: url("../images/blog/blog_3.png") 10% 0% no-repeat;
  width: 100%;
  height: 100%;
}

#blog-1:hover,
#blog-2:hover,
#blog-3:hover {
  cursor: pointer;
}

// blog slider
.blog__content-slider {
  width: 100%;
  border: 1px solid black;
  display: none;
}

.blog__content .carousel-control-prev,
.blog__content .carousel-control-next {
  display: block;
}

.carousel-item {
  width: 100%;
}

.blog__contnts-labels {
  box-sizing: border-box;
  padding: 28px 28px 0 28px;
}

.blog__title span {
  font-size: 56px;
  line-height: 28px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  position: absolute;
  top: -5px;
  right: 34%;
  left: 34%;
}

.date {
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 24px;
  color: #cccccc;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  width: 100%;
  text-transform: uppercase;
}

.title {
  width: 100%;
  font-size: 22.5px;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Cormorant Garamond", serif;
  height: auto;
  margin-top: 20px;
  color: #333333;
}

.title:hover {
  text-decoration: none;
  cursor: pointer;
}

.interactive {
  width: 100%;
  margin-top: 60px;
}

.interactive span {
  font-size: 15px;
  line-height: 32px;
  color: #696969;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin-right: 25px;
}

.interactive i {
  margin: 5px;
}

.blog__content-button {
  margin-top: 38px;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
