.contact {
  display: flex;
  flex-wrap: wrap;
  max-width: @max-width;
  width: 100%;
  padding: 15px 0;
}

.contact__items {
  width: 20%;
  text-align: center;
  padding-top: 2px;
}

.contact__items > p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #333333;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}

.contact__items > span {
  font-size: 16px;
  line-height: 28px;
  color: #ababab;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
