footer {
  max-width: 1920px;
  width: 100%;
  height: 420px;
  background-color: #333333;
  margin-top: 62px;
  position: relative;
}

.footer__content {
  max-width: 1170px;
  width: 100%;
  box-sizing: border-box;
  padding: 55px 0 90px 0;
  height: 100%;
  margin: 0 auto;
}

.footer__content-top {
  width: 100%;
  height: 70%;
  border-bottom: 1px inset #333;
  display: flex;
  flex-wrap: wrap;
}

.footer__content-bottom {
  width: 100%;
  height: 25%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.footer__content-top-logo {
  width: 20%;
  height: 80%;
}

.footer__content-top-logo img {
  margin-top: 5px;
  margin-left: 3px;
}

.footer__content-top-logo img:hover {
  cursor: pointer;
}

.footer__content-top-menu {
  width: 60%;
  height: 100%;
}

.footer__content-top-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.footer__content-top-menu ul li {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: whitesmoke;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  margin: 92px 17px 0 19px;
}

.footer__content-top-menu ul li:hover {
  color: #d6ba8d;
  cursor: pointer;
}

.footer__content-top-sub {
  width: 20%;
}

.footer__content-top-sub__content {
  float: right;
  width: 68%;
  height: 20.5%;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 6px 0px;
  margin-top: 84px;
  margin-right: -3px;
}

.footer__content-top-sub__content:hover {
  cursor: pointer;
  border: 2px solid #d6ba8d;
  span {
    color: #d6ba8d;
  }

  .fa-envelope {
    color: #d6ba8d;
  }
}

.footer__content-top-sub__content span {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 24px;
  color: #ababab;
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
}

.footer__content-top-sub__content i {
  margin-left: 7px;
}

.footer__content-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__content-bottom-address {
  width: 50%;
  color: #696969;
  font-size: 14px;
}

.footer__content-bottom-address p {
  line-height: 25px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin: 22px 0 4px 0;
}

.footer__content-bottom-social-media {
  width: 50%;
}

.footer__content-bottom-social-media ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.footer__content-bottom-social-media ul li {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

.footer__content-bottom-social-media ul li:hover {
  cursor: pointer;
  color: #333333;
  background-color: #d6ba8d;
}

.footer__sidebar-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  display: none;
}
.footer__sidebar {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #333333;
  position: absolute;
  right: 0;
}

.footer__sidebar-label {
  width: 100%;
  height: 140px;
  font-size: 20px;
  text-indent: 4px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  border-bottom: 2px solid #d6ba8d;
}

.footer__sidebar-logo {
  width: 100%;
  text-align: center;
}

.footer__sidebar-logo img {
  margin-top: 20px;
  width: 140px;
  display: block;
  margin: 0 auto;
}

.fa-times {
  float: left;
  margin-left: 4px;
}

.fa-times:hover {
  cursor: pointer;
}

.fa-user {
  float: right;
  margin-right: 5px;
}

.footer__sidebar-content ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

.footer__sidebar-content ul li {
  height: 40px;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  line-height: 40px;
  font-size: 14px;
  color: white;
}

.footer__sidebar-content ul li:hover {
  font-size: 18px;
  border-radius: 4px;
  color: #d6ba8d;
  text-decoration: underline;
}

.footer_menu {
  position: absolute;
  right: 5%;
  top: 2%;
  font-size: 20px;
  width: 18px;
  height: 18px;
  color: #d6ba8d;
  padding: 8px;
  display: none;
}

.footer_menu:hover {
  cursor: pointer;
}
